/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav a {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav li a {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
/* Gestion de login et logout */

#logout {
  display: none;
}

#login {
  display: block;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* Ajout des filtres */
.containerBtn {
  height: 37px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 51px;
}

.filters {
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 60px;
  border: 1px solid #1d6154;
  padding: 10px 11px 9px 12px;
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.filtersColor {
  color: #1d6154;
  background: #fffef8;
}

.filtred {
  background: #1d6154;
  color: #fffef8;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.figure {
  display: block;
}

/* ************************************************************ */
                    /* Page Login */
/* ************************************************************ */
.vuEdition{
  display: none;
}

.editionMode{
  height: 3.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  gap: 1rem;
  text-decoration: none;
 
}


.mainContainer_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_login {
  color: #1d6154;
  text-align: center;
  font-family: Syne;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 3.75rem;
  padding-top: 5.12rem;
}

label {
  color: #3d3d3d;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: normal;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

input {
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  font-size: 1.2em;
  height: 51px;
  border: none;
  width: 379px;
  margin-bottom: 1rem;
}

.input_connection,
.mp_forget {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1rem auto;
  color: #000;
}

/* Is connected to modify */

.container-title_projet {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.isconnectedTomodify {
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: Work Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  bottom: 4px;
  display: none;
}
/* ************************************************************ */
   /* Modal 1  - Supprimer un element de la galerie photo */
       /* Gestion de la galerie photo  par Admin*/
/* ************************************************************ */
.open-modal {
  cursor: pointer;
}

.inputPassword {
  inset: 0;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  background-color: #333333d3;
  overflow: auto;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.625rem;
  width: 39.375rem;
  height: 43rem;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 650px;
  text-align: center;
  max-height: 670px;
}

.modalTitle {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 1rem;
}

.titleGalleryModal {
  margin-top: 0.75rem;
}

.modalClose {
  width: 95%;
  height: 1.5rem;
  font-size: large;
  flex-shrink: 0;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: white;
  margin-top: 1.63rem;
  cursor: pointer;
}

.btnAddModal {
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  min-width: 14.8125rem;
  height: 2.25rem;
  position: relative;
  top: 0.81rem;
}

.contenairGallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  margin: 40px 80px 0px 80px;
  border-bottom: solid 2px #d0d0d0;
}

.photoModal {
  width: 4.88269rem;
  height: 6.505rem;
}

.icon-delete {
  background-color: #000;
  color: #fff;
  position: relative;
  bottom: 6.3rem;
  left: 1.5rem;
  padding: 0.25rem 0.19rem 0.25rem 0.19rem;
  cursor: pointer;
}
/* ************************************************************ */
              /* modal 2 - Ajouter un projet */
/* ************************************************************ */  
.openmodal2 {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-direction: row;
  background-color: #333333d3;
  overflow: auto;
}

.container_modal2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.modal2_Containt {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.625rem;
  width: 39.375rem;
  height: 41.87rem;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 650px;
  text-align: center;
  max-height: 670px;
}

.block_nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 90%;
}

.returnGallery {
  width: 1.3125rem;
  height: 1.3125rem;
  margin-left: 1.88rem;
  margin-top: 1.63rem;
  color: #000;
  cursor: pointer;
}

.position_X {
  margin-top: 1.62rem;
  margin-right: 1.87rem;
}

hr {
  background-color: grey;
  width: 100%;
  height: 1px;
  margin-top: 1.87rem;
}

.modal2_formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.75rem;
}

.button_add_picture {
  width: 10.8125rem;
  height: 2.25rem;
  background-color: #cbd6dc;
  color: #306685;
  border-radius: 3.75rem;
  margin: 1rem 0.87rem;
  cursor: pointer;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-img {
  color: #cbd6dc;
  font-size: 4.75rem;
}

.image_input {
  width: 26.25rem;
  height: 10.5625rem;
  background-color: #e8f1f6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1875rem;
}

.input_photo {
  opacity: 0;
  position: relative;
  bottom: 4rem;
  width: 163px;
  height: 2.12rem;
}

.preview-image {
  display: flex;
  justify-content: center;
}

#preview-input {
  position: absolute;
  width: 8.0625rem;
  height: 10.5625rem;
  object-fit: cover;
}

.preview_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-input {
  width: 26.25rem;
  height: 3.1875rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#category-input {
  width: 26.25rem;
  height: 3.1875rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: 0px;
}
.button_send_new_work {
  margin: 1.25rem 0rem;
  padding: 0.62rem 3.06rem 0.56rem 3.06rem;
  cursor: pointer;
  border: 0px;
  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 14.8125rem;
  height: 2.25rem;
  border-radius: 3.75rem;
  background: #a7a7a7;
}
